/*
 * Copyright 2021,2022 Maxime Girardet
 *
 * This file is part of Nova.
 *
 * Nova is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * Nova is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with Nova. If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 */

@media only screen and (max-width: 700px) {

	.table-responsive table,
	.table-responsive thead,
	.table-responsive tbody,
	.table-responsive tr,
	.table-responsive th,
	.table-responsive td {
		@apply block
	}

	.table-responsive thead {
		@apply hidden
	}

	.table-responsive td {
		padding-left: 150px;
		@apply relative border-gray-200 flex items-center justify-center
	}


	.table-responsive td::before {
		padding: 10px;
		content: attr(data-label);
		width: 130px;
		@apply absolute top-0 left-0 bottom-0 border-gray-200 text-gray-800  text-left text-sm uppercase font-normal flex items-center
	}

	.table-responsive tr {
		@apply mb-4
	}

	.table-responsive th + td {
		padding-left: 10px;
	}

	.hide-row-mobile {
		display: none !important;
	}

}
